@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,500&display=swap");
html,
body {
  background-color: rgba(0, 180, 216, 0.2);
  margin: 0;
  font-family: "Poppins", sans-serif;
}
.nav-container {
  position: absolute;
  background-image: linear-gradient(
    to top left,
    rgba(255, 255, 255, 1),
    rgba(100, 255, 255, 0.7),
    rgba(255, 255, 255, 0)
  );
  display: flex;
  justify-content: end;
  width: 100%;
}
.nav-grid {
  display: flex;
  list-style: none;
  margin-bottom: 0;
  padding: 0;
}
li {
  padding: 15px;
}
.nav-items {
  color: #21325e;
  font-size: 25px;
  text-decoration: none;
}
.nav-items:hover {
  background-color: rgba(0, 180, 216, 1);
  border-radius: 20px;
  color: #fff;
  padding: 0 10px;
}
.styles-1 {
  position: absolute;
  width: 400px;
  height: 400px;
  top: -10%;
  left: -10%;
  border-radius: 100%;
  background-image: linear-gradient(
    to bottom right,
    rgba(0, 180, 216, 0.5),
    rgba(0, 180, 216, 1)
  );
}
.styles-2 {
  position: absolute;
  width: 400px;
  height: 400px;
  top: -25%;
  left: 5%;
  border-radius: 100%;
  background-image: linear-gradient(
    to bottom right,
    rgba(238, 237, 222, 0.5),
    rgba(238, 237, 222, 1)
  );
}
.about {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 100%;
}
.profile {
  max-width: 80%;
  grid-area: a;
}
.me {
  align-items: center;
  background-image: linear-gradient(
    to bottom right,
    rgba(0, 180, 216, 0.5),
    rgba(0, 180, 216, 0.5)
  );
  border-radius: 15px;
  display: grid;
  grid-template-areas:
    "a b"
    "a d";
  font-size: 25px;
  justify-items: center;
  max-width: 50%;
  padding: 0 20px;
  margin: 250px 0 250px 150px;
}
.me-1 {
  grid-area: b;
  margin-bottom: 0;
}
.me-2 {
  grid-area: d;
  padding: 0 10px;
  text-align: justify;
}
h1,
h2 {
  text-align: center;
  background: -webkit-linear-gradient(#488fb1, black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.content {
  border-radius: 15px;
  font-size: 20px;
  max-width: 60%;
  padding: 0 20px;
  margin: 100px;
  text-align: justify;
}
.above {
  animation: line;
  animation-duration: 10s;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: dotted 1rem;
  color: #fff;
  width: 100px;
}
@keyframes line {
  from {
    color: black;
  }
  to {
    color: #fff;
  }
}
footer {
  background-image: linear-gradient(to bottom right, rgba(184, 255, 249, 0.5), rgba(184, 255, 249, 1));
  display: flex;
  align-items: center;
  width: 100%;
  border-top: solid black 1px;
}
h5 {
  position: absolute;
  left: 100px;
  width: 115px;
}
.cnt {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 50px 0;
}
.icon {
  margin-right: 5px;
  width: 40px;
}
.icon:hover {
  position: relative;
  bottom: 10px;
}
@media screen and (max-width: 1500px) {
  .me {
    max-width: 60%;
    margin: 250px 0;
  }
  .profile {
    padding: 15px;
  }
}
@media screen and (max-width: 1200px) {
  .styles-1,
  .styles-2 {
    display: none;
  }
  .me {
    font-size: 20px;
  }
}
@media screen and (max-width: 900px) {
  .nav-container {
    justify-content: center;
  }
  .nav-items {
    font-size: 18px;
  }
  .topnav {
    margin-right: 10px;
  }
  .me {
    max-width: 80%;
  }
  .content {
    max-width: 80%;
  }
}
@media screen and (max-width: 700px) {
  .me {
    width: 70%;
    font-size: 15px;
  }
  .profile {
    width: 80%;
  }
}
@media screen and (max-width: 600px) {
  .nav-items {
    font-size: 15px;
  }
  .me {
    font-size: 12px;
    margin: 300px 0;
  }
  .content {
    font-size: 12px;
    width: 80%;
  }
  footer {
    display: block;
  }
}
@media screen and (max-width: 500px) {
  .topnav {
    margin: 0;
  }
  .styles-1 {
    display: block;
    border-radius: 0;
    top: -200px;
    width: 150px;
    height: 500px;
    transform: rotate(45deg);
    z-index: -1;
  }
  .me {
    margin: 150px;
    padding: 5px;
    width: 100%;
    grid-template-areas: none;
    grid-template-areas:
      "a"
      "b"
      "c";
  }
  .profile {
    grid-area: a;
  }
  .me-1 {
    grid-area: b;
  }
  .me-2 {
    grid-area: c;
  }
  .icon {
    width: 30px;
  }
}
.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}
