@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

html,
body {
  font-family: "Poppins", sans-serif;
}

.nav-container {
  background-image: linear-gradient(to left,
      rgba(255, 255, 255, 1),
      rgba(100, 255, 255, 0),
      rgba(255, 255, 255, 0));
}

.nav-grid {
  display: flex;
  list-style: none;
  margin-bottom: 0;
  padding: 0;
}

.list-items {
  display: block;
  list-style: none;
  font-size: 20px;
  padding: 15px;
  transition: 0.5s;
  font-weight: 600;
}

.links_about {
  position: relative;
  color: black;
  padding: 0 5px;
  font-size: 25px;
  text-decoration: none;
  transition: 0.5s;
}

.links_about:before {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 100%;
  height: 10%;
  background: #d61c4e;
  transform: scaleX(1);
  z-index: -1;
}

.links {
  position: relative;
  color: black;
  padding: 0 5px;
  font-size: 25px;
  text-decoration: none;
  transition: 0.5s;
}

.links:hover {
  filter: blur(0);
  text-decoration: none;
}

.links:before {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 100%;
  height: 10%;
  background: #d61c4e;
  transition: 0.5s;
  transform-origin: right;
  transform: scaleX(0);
  z-index: -1;
}

.links:hover:before {
  transition: transform 0.5s;
  transform-origin: left;
  transform: scaleX(1);
}

footer {
  background-image: linear-gradient(to bottom right, rgba(184, 255, 249, 0.5), rgba(184, 255, 249, 1));
}

/* Scrollbar */

::-webkit-scrollbar {
  display: none;
}

/* Content Reveal on scroll */
.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}
