@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,500&display=swap');
html, body {
    font-family: 'poppins', sans-serif;
    background-color: rgba(0, 180, 216, 0.2);
    margin: 0;
}
.nav-container {
    display: flex;
    justify-content: end;
    position: fixed;
    background-image: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(100, 255, 255, 0), rgba(100, 255, 255, 0), rgba(255, 255, 255, 0));
    width: 100%;
}
.nav-grid {
    display: flex;
    list-style: none;
    margin-bottom: 0;
    padding: 0;
}
li {
    font-size: 20px;
    padding: 15px;
}
a{
    color: black;
    font-size: 25px;
    text-decoration: none;
}
a:hover{
    background-color: rgba(0, 180, 216, 1);
    border-radius: 20px;
    color: #fff;
    padding: 0 10px;
}
.styles-1 {
    background-color: rgba(0, 180, 216, 0.3);
    height: 70%;
    width: 50%;
    left: -10%;
    top: -20%;
    position: absolute;
    transform: rotate(25deg);
}
.styles-2 {
    background-color: rgba(45, 85, 100, 0.3);
    height: 30%;
    width: 40%;
    position: absolute;
    left: -18%;
    top: 46.3%;
    transform: rotate(-65deg);
}
.name-cont {
    display: inline-block;
    height: 50rem;
    width: 30%;
}
.name {
    font-size: 55px;
    left: 9%;
    margin: 0;
    position: absolute;
    top: 35%;
}
.intro {
    bottom: 70px;
    display: inline-block;
    font-size: 25px;
    left: 15%;
    position: relative;
    width: 400px;
}
p {
    margin: 0;
}
.skills {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 800px;
    justify-content: center;
}
.skill-gif {
    border-radius: 200px;
    float: left;
    width: 150px;
}
.skill-container {
    display: flex;
    justify-content: center;
    width: 70%;
}
.skill-content {
    background-color: #86C6F4;
    border-radius: 10px;
    font-size: 25px;
    margin: 10px;
    padding: 10px 20px;
}
.text-icon {
    float: left;
    margin: 5px;
    width:50px;
}
h2 {
    font-size: 40px;
    margin: 15px 0 100px;
}
li {
    list-style: none;
}
@media only screen and (max-width: 1500px) {
    .styles-2 {
        position: absolute;
    }
    .nav-container {
        position: absolute;
    }
}
@media only screen and (max-width: 1200px) {
    .intro {
        bottom: 140px;
        left: 100px;
    }
}
@media only screen and (max-width: 800px) {
    a {
        font-size: 20px;
    }
    .name {
        font-size: 40px;
    }
    .intro {
        font-size: 20px;
        bottom: 150px;
        left: auto;
    }
    .topnav {
        margin-right: 10px;
    }
    .skill-container {
        flex-direction: column;
        width: 70%;
    }
    .skill-content {
        margin: 20px;
    }
    .skills {
        height: 1200px;
    }
}
@media only screen and (max-width: 600px) {
    a {
        font-size: 14px;
    }
    .name {
        font-size: 40px;
        right: 5%;
        top: 30%;
    }
    .anim-cont {
        background-color: transparent;
        background-image: none;
    }
    .intro {
        font-size: 20px;
        position: absolute;
        width: 280px;
        bottom: 50px;
    }
    .skill-container {
        width:100%;
    }
    .skill-content {
        margin: 10px;
    }
    .text-icon {
        width: 35px;
    }
}
@media only screen and (max-width: 400px) {
    .topnav {
        margin: 0;
    }
    .nav-container {
        justify-content: center;
    }
    li {
        font-size: 15px;
        padding: 13px;
    }
    .name {
        position: relative;
        font-size: 40px;
        right: 0;
    }
    .intro {
        font-size: 15px;
        position: absolute;
        right: 5px;
        width: 200px;
    }
}