@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,500&display=swap");

html,
body {
  font-family: "poppins", sans-serif;
  background-color: rgba(0, 180, 216, 0.2);
  margin: 0;
}

.nav-container {
  display: flex;
  justify-content: end;
  position: fixed;
  background-image: linear-gradient(to left,
      rgba(255, 255, 255, 1),
      rgba(100, 255, 255, 0),
      rgba(255, 255, 255, 0));
  width: 100%;
  z-index: 10;
}

.nav-grid {
  display: flex;
  list-style: none;
  margin-bottom: 0;
  padding: 0;
}

.list-items {
  display: block;
  list-style: none;
  font-size: 20px;
  padding: 15px;
  transition: 0.5s;
}

.links {
  color: black;
  padding: 0 5px;
  font-size: 25px;
  text-decoration: none;
  transition: 0.5s;
}

.links:hover {
  filter: blur(0);
  text-decoration: none;
}

.links:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10%;
  background: #d61c4e;
  transition: 0.5s;
  transform-origin: right;
  transform: scaleX(0);
  z-index: -1;
}

.links:hover:before {
  transition: transform 0.5s;
  transform-origin: left;
  transform: scaleX(1);
}

.styles-1 {
  background-color: rgba(0, 180, 216, 0.3);
  height: 70%;
  width: 50%;
  left: -20%;
  top: -20%;
  position: absolute;
  transform: rotate(25deg);
  animation: anim1;
  animation-duration: 2s;
}

.styles-2 {
  background-color: rgba(159, 201, 243, 1);
  height: 30%;
  width: 40%;
  position: absolute;
  left: -24%;
  top: 46.3%;
  transform: rotate(-65deg);
  animation: anim2;
  animation-duration: 2s;
}

.styles-3 {
  background-color: rgba(45, 180, 216, 0.5);
  position: absolute;
  top: 10%;
  left: -8%;
  width: 20%;
  height: 60%;
  transform: rotate(60deg);
  animation: anim3;
  animation-duration: 2s;
}

@keyframes anim1 {
  from {
    left: -50%;
    transform: rotate(-90deg);
  }

  to {
    left: -20%;
    transform: rotate(25deg);
  }
}

@keyframes anim2 {
  from {
    left: -50%;
    transform: rotate(0deg);
  }

  to {
    left: -24%;
    transform: rotate(-65deg);
  }
}

@keyframes anim3 {
  from {
    left: -50%;
    transform: rotate(0deg);
  }

  to {
    left: -8%;
    transform: rotate(60deg);
  }
}

.name-cont {
  height: 40rem;
  width: 30%;
}
#python {
  background-image: linear-gradient(to left, rgba(251, 223, 7, 0.5), rgba(37, 49, 109,0.5));
}
#c_lang {
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(37, 49, 109, 0.5));
}
#web {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.5));
}
#js {
  background-image: linear-gradient(to right, rgba(255, 255, 0, 0.5), rgba(0, 0, 0, 0.5));
}
#tailwind {
  background-image: linear-gradient(to left, rgba(151, 210, 236, 0.5), rgba(0, 0, 0, 0.5));
}
#blender {
  background-image: linear-gradient(to right, rgba(233, 69, 96, 0.5), rgba(255, 255, 255, 0.5));
}
#java {
  background-image: linear-gradient(to left, rgba(235, 29, 54, 0.4), rgba(37, 49, 109, 0.5));
}
footer {
  background-image: linear-gradient(to bottom right,
      rgba(184, 255, 249, 0.5),
      rgba(184, 255, 249, 1));
}
@media only screen and (max-width: 1500px) {
  .styles-2 {
    position: absolute;
  }
  .nav-container {
    position: absolute;
  }
}
@media only screen and (max-width: 800px) {
  .nav-container {
    display: none;
  }
  .styles-3 {
    display: none;
  }
}
.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}