@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,500&display=swap');
html, body {
    margin: 0;
    font-family: 'Poppins', Arial, sans-serif;
    text-align: center;
}
.page {
    background-color: #93FFD8;
    border: 2px solid black;
    border-radius: 20px;
    margin: 11% auto;
    position: relative;
    text-align: center;
    width: 395px;
}
.cnt {
    display: grid;
    margin: 20px auto;
    grid-template-columns: auto auto;
    grid-template-columns: 80px 300px;
}
img {
    width: 50%;
    margin-top: 10px;
}
p {
    text-align: left;
}
.info1 {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.ur1 {
    border-radius: 10px;
    height: 30px;
    width: 100%;
}
.ur1:hover {
    background-color: darkseagreen;
}
.btn {
    border-radius: 10px;
    border-style: 2px solid #96CEB4;
    margin: 10px;
}
.btn:hover {
    background-color: darkseagreen;
}
@media only screen and (max-width: 600px) {
    html, body {
        background-color: #93FFD8;
        text-align: center;
    }
    .page{
        border: 0;
        margin: 25% auto 0;
        width: 340px;
    }
    .cnt {
        display: grid;
        margin: 0 auto;
        overflow: hidden;
        grid-template-columns: auto auto;
        grid-template-columns: 50px 280px;
        width: 330px;
    }
    p {
        margin: 0;
        text-align: center;
    }
    img {
        margin: 0;
        width: 50%;
    }
    .btn {
        margin: 10px 0;
    }
}