@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,500&display=swap');
html, body {
    background-image: linear-gradient(to top right, rgb(255, 255, 255,0.3), rgba(0, 180, 216, 0.8));
    font-family: 'Poppins', Arial, sans-serif;
    height: 100%;
    margin: 0;
    overflow: hidden;
}
.back {
    background-color: transparent;
    border: none;
    position: fixed;
    top: 10px;
    left: 10px;
}
header {
    display: flex;
    align-items: flex-end;
    height: 70%;
}
.info1 {
    display: grid;
    justify-content: center;
    width: 50%;
}
.info2 {
    display: flex;
    flex-direction: column;
    grid-template-rows: 80px 80px 80px 25px;
}
.ur1 {
    font-family: 'Poppins', Arial, sans-serif;
    padding: 10px;
    margin: 17px 0;
    border: solid 1px #03045E;
    border-radius: 5px;
}
.ur1:hover {
    border: solid 1px #00B4D8;
    margin: 20px 0;
}
.btn {
    background-color: #00B4D8;
    border: none;
    border-radius: 5px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    color: #fff;
    height: 40px;
    font-family: 'Poppins', Arial, sans-serif;
    margin: 10px 0;
}
.btn:hover {
    font-size: 15px;
}
footer {
    display: flex;
    justify-content: end;
    align-items: flex-end;
    height: 20%;
    width: 100%;
}
.cnt {
    display: flex;
    width: 14%;
    height: 12%;
}
img {
    margin-right: 5px;
    width: 40px;
}
img:hover {
    position: relative;
    bottom: 10px;
    margin-right: 15px;
}
@media only screen and (max-width: 1000px) {
    .info1 {
        margin: 0 0 0 20px;
    }
    footer {
        width: 90%;
    }
}
@media only screen and (max-width: 600px) {
    html, body {
        background-color: #93FFD8;
        text-align: center;
    }
    footer {
        width: 70%;
    }
}
@media only screen and (max-width: 400px) {
    html, body {
        font-size: 10px;
    }
    header {
        display: inline-block;
        width: 100%;
    }
    .info1 {
        margin: 100px 0 0 0;
        width: 100%;
    }
    footer {
        justify-content: center;
        width: 85%;
    }
    img {
        width: 30px;
    }
}