@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,500&display=swap');
html, body {
    background-color: #04293A;
    margin: 0%;
    padding: 0%;
}
.page {
    display: flex;
    height: 790px;
    justify-content: center;
    text-align: center;
    width: 100%;
}
.cnt {
    border: 2px solid black;
    border-radius: 20px;
    background-color: #93FFD8;
    display: flex;
    font-family: 'Poppins', sans-serif;
    height: 400px;
    justify-content: center;
    position: absolute;
    top: 20%;
    width: 380px;
}
.hed {
    bottom: 5%;
    color: #2F3A8F;
    display: flex;
    font-size: 30px;
    position: relative;
}
.info {
    display: flex;
    left: 15%;
    position: absolute;
    top: 20%;
    text-align: left;
}
.im {
    display: flex;
    position: absolute;
    right: 100%;
    width: 10%;
}
.info1 {
    font-family: 'Poppins', sans-serif;
    height: 200px;
    position: relative;
    top: 40%;
    width: 400px;
}
h3 {
    font-family: 'Poppins',cursive;
    font-size: 150%;
    margin-bottom: 0%;
    position: relative;
    top: 50px;
}
form {
    position: relative;
    top: 30%;
    width: 100%;
}
.ur1 {
    border-radius: 10px;
    height: 30px;
    width: 60%;
}
.ur1:hover {
    background-color: darkseagreen;
}
.btn {
    border-radius: 10px;
    border-style: 2px solid #96CEB4;
    height: 30px;
}
.btn:hover {
    background-color: darkseagreen;
}
.p1 {
    left: 3%;
    margin-top: 0%;
    margin-bottom: 0%;
    position: relative;
    width:50%;
}