@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,500&display=swap');
html, body {
    font-family: 'poppins', sans-serif;
    background-color: rgba(0, 180, 216, 0.2);
    margin: 0;
    height: 100%;
    overflow: hidden;
}
.nav-container {
    display: flex;
    justify-content: end;
    position: absolute;
    width: 100%;
}
.nav-grid {
    display: flex;
    list-style: none;
    margin-bottom: 0;
    padding: 0;
}
li {
    font-size: 20px;
    padding: 15px;
}
a{
    color: #21325E;
    text-decoration: none;
}
a:hover{
    background-color: rgba(0, 180, 216, 1);
    color: #03045E;
    font-size: 23px;
}
.anim-cont {
    background-color: rgba(0, 180, 216, 0.2);
    background-image: linear-gradient(to right, rgba(0, 180, 216, 1),rgba(0, 180, 216, 0.1));
    display: inline-block;
    height: 100%;
    width: 30%;
}
.name {
    font-size: 55px;
    margin: 0;
    position: absolute;
    left: 10%;
    top: 35%;
}
.intro {
    display: inline-block;
    font-size: 25px;
    position: relative;
    bottom: 20px;
    width: 400px;
}
p {
    margin: 0;
}
.profile {
    padding: 20px;
    width: 80%;
}
@media only screen and (max-width: 400px) {
    .nav-container {
        justify-content: center;
    }
    li {
        font-size: 12.5px;
    }
    .name {
        position: relative;
        font-size: 40px;
        right: 0;
    }
    .intro {
        font-size: 15px;
        position: absolute;
        right: 0;
        width: 200px;
    }
}
@media only screen and (max-width: 600px) {
    .name {
        font-size: 40px;
        right: 0;
    }
    .anim-cont {
        background-color: transparent;
        background-image: none;
    }
    .intro {
        font-size: 20px;
        position: absolute;
        width: 280px;
    }
}